// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

$base-size: 16px;

$main-font: 700 100% Quicksand, sans-serif;
$rest-font: 400 100% Quicksand, sans-serif;

// Colors
$white: #fff;
$black: #000;

$light: #fbf6e4;
$green: #23ae92;

$main-bgcolor: #e5eeee;

$underline-on-focus: #e66a64;