// Fonts
$base-size: 16px;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:900&display=swap');

$title-font: Roboto; // Black 900
$main-font: Raleway; // Regular 400, Medium 500
$link-font: "Open Sans"; // Bold 700

//Colors
$lightest-grey: #ccc;
$light-grey: #898f8f;
$grey: #666;
$dark-grey: #333;

$yellow: #ffcc00;