*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html { min-height: 100vh; }

body {
	font-size: 100%;
}

ul {
	margin: 0;
	list-style: none;
}

.top-nav {
	min-height: 60px;
	background-color: $top-nav-bg;
	padding: 15px 0;

	.nav-pills {
		width: 100%;
		max-width: 405px;
		justify-content: space-between;
	}

	.nav-link {
		padding: 0 15px;
	}
}