* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {min-height: 100%}
body {
	font-family: "Avenir Next", sans-serif;
	font-size: 100%;
	background-color: $body-background;
}

.container {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
	padding: 90px 40px;
}

.uppercase {text-transform: uppercase}

.content {

	&__list {
		display: flex;
		align-items: flex-start;
		height: 1500px;
		list-style: none;
	}
	&__list-item {}
	&__first_link {
		display: flex;
		align-items: flex-end;
		padding: 40px;
		width:740px;
		height: 540px;
		font-size: 0;
		text-decoration: none;
		background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.7) 75%, rgba(0,0,0,1) 100%), url(../img/layer_5.jpg) no-repeat;
	}
	&__first_link-description {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 450px;
		height: 110px;
	}
	&__first_link-date {
		color: $link-date;
		font-size: 13px;
	}
	&__first_link-title {
		font-size: 30px;
		color: $link-h2;
		font-weight: 400;
	}


	// &__link {
	// 	width: 360px;
	// 	// background-color: $link-background;
	// 	text-decoration: none;
	// 	// display: flex;
	// 	// flex-wrap: wrap;
	// }

	// &__link-image {font-size: 0}

	// &__link-description {
	// 	display: flex;
	// 	flex-wrap: wrap;
	// 	padding: 25px;
	// }

	// &__link-title {
	// 	color: $link-title;
	// 	font-size: 22px;
	// 	font-weight: 450;
	// 	margin-bottom: 62px;
	// }

	// &__link-icon {border-radius: 50%}
}










// Разделить в Первой Карточке картинку и градиент
// Сделать так, чтобы при наведении карточки плавно поднимались
// Добавить тень к карточкам, чтобы получился Material Design