// Fonts
$base-size: 16px;

@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,700&display=swap');

$font-logo: Pacifico;
$font-main: Raleway; // Light 300, Bold 700

// Colors
$light-grey: #b9b9b9;
$grey: #262626;

$green: #96b92c;
$lightseagreen: #00b0b0;

$skyblue: #70bfff;
$steelblue: #5585a2;
$violet: #b07cf7;

$red: #ff2b58;
$orange: #ff6033;