* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {height: 100%}
body {
	font-size: 100%;
	font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
}

.container {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

.capitalize {text-transform: capitalize}

.lisbon {background-color: $lisbon}
.paris {background-color: $paris}
.belgrade {background-color: $belgrade}
.moscow {background-color: $moscow}
.tel-aviv {background-color: $tel-aviv}
.cair {background-color: $cair}
.new-york {background-color: $new-york}
.new-delphi {background-color: $new-delphi}
.san-francisco {background-color: $san-francisco}
.tokyo {background-color: $tokyo}
.sydney {background-color: $sydney}

.fourth {width: $fourth}
.half {width: $half}
.full {width: $full}

.weather {
	height: inherit;
	padding-top: 50px;
	border: 20px solid $section-border;
	background-color: $section-background;
	&__title {
		color: $text;
		font-weight: 450;
		margin-bottom: 20px;
	}
	&__list {
		margin-bottom: 20px;
		font-size: 0;
		list-style: none;
		text-align: center;
		border: 1px solid white;
	}
	&__list:hover .weather__list-item {
		opacity: .5;
		transition: all 0.1s ease-in;
	}
	&__list .weather__list-item:hover {opacity: 1}
	&__list-item {
		display: inline-block;
	}
	&__list-link {
		display: block;
		padding: 20px 0;
		text-decoration: none;
		color: $text;
		font-size: 0;
		border: 1px solid white;
	}
	&__list-item .city {
		display: block;
		font-size: 1rem;
		margin-bottom: 10px;
	}
	&__list-item .temp {
		font-size: 1rem;
		opacity: .7;
	}
	&__list-item  .wi {
		font-size: 1.5rem;
	}
	&__message {
		color: $text;
	}
}

.city-link {
	text-decoration: none;
	color: darkseagreen;
}