// Colors
$text: white;
$section-background: cornflowerblue;
$section-border: steelblue;
$lisbon: cornflowerblue;
$paris: #0097A7;
$belgrade: mediumpurple;
$moscow: #CD6155;
$tel-aviv: #D68910;
$cair: #D4AC0D;
$new-york: #73C6B6;
$new-delphi: darkseagreen;
$san-francisco: #F48FB1;
$tokyo: #66BB6A;
$sydney: #5C6BC0;

// Sizes
$fourth: 25%;
$half: 50%;
$full: 100%;