*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body { min-height: 100%; }
body { font: 100% Lato, sans-serif; }

.t-upper { text-transform: uppercase; }

.container {
	width: 100%;
	max-width: 930px;
	margin: 0 auto;
	padding: 0 15px;
}

.text-wrapper { width: 61%; }