.dl-contact {
	padding-top: 120px;
	@include xs-screen { padding-top: 40px; }
	@include sm-screen { padding-top: 60px; }
	@include md-screen { padding-top: 80px; }
	@include lg-screen { padding-top: 100px; }

	&__description-block {
		@include description-block;
		border-color: $dark;
		&::before, &::after { background-color: $dark; }
		@include xs-screen { padding: 50px 0 20px; }
		@include sm-screen { padding: 50px 0 25px; }
	}

	&__title {
		@include title;
		color: $dark;

		@include xs-screen {
			font-size: px_to_rem(18px);
			top: -11px;
		}

		@include sm-screen {
			font-size: px_to_rem(28px);
			top: -17px;
		}
	}

	&__description {
		margin-bottom: 30px;
		color: $dark;
		font-size: px_to_rem(16px);
		font-weight: 300;
		line-height: 24px;

		@include xs-screen {
			margin-bottom: 20px;
			font-size: px_to_rem(14px);
			line-height: 22px;
		}

		@include sm-screen { margin-bottom: 25px; }
	}

	&__button {
		display: inline-block;
		width: 100%;
		max-width: 395px;
		padding: 20px 0;
		font-size: 0;
		text-decoration: none;
		background-color: $dark;
		border: 2px solid $dark;
		transition: all ease .4s;
		&:hover { background-color: $white; }
		&:hover .dl-contact__button-text { color: $dark; }

		@include xs-screen {
			max-width: 180px;
			padding: 10px 0;
		}

		@include sm-screen {
			max-width: 270px;
			padding: 15px 0;
		}
	}

	&__button-text {
		color: $white;
		font-size: px_to_rem(16px);
		font-weight: 400;
		letter-spacing: 2px;
		@include xs-screen { font-size: px_to_rem(14px); }
	}
}