.dl-services {
	padding-top: 128px;
	padding-bottom: 109px;
	background-image: url(../img/services.jpg);
	background-color: $main-bg;
	@include xs-screen {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	@include sm-screen {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	&__description-block {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		padding-top: 50px;
		padding-bottom: 26px;
		border: 2px solid $white;
		border-top: none;
		@include xs-screen { padding: 45px 0 26px; }
		@include sm-screen { padding: 45px 0 26px; }
		@include md-screen { padding: 55px 0 35px; }
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			width: 242px;
			height: 2px;
			background-color: $white;
			@include xs-screen { width: 100px; }
			@include sm-screen { width: 120px; }
		}
		&::before { left: 0; }
		&::after { right: 0; }
	}

	&__title {
		position: absolute;
		top: -20px;
		left: 50%;
		transform: translateX(-50%);
		font-size: px_to_rem(34px);
		letter-spacing: 5px;
		color: $white;
		@include xs-screen { font-size: 26px; }
	}

	&__description {
		font-size: px_to_rem(16px);
		line-height: 26px;
		text-align: center;
		color: $white;
	}
}