.dl-services {
	padding: 120px 0;
	background: url(../img/services.jpg) 0% 0%/cover no-repeat $dark;

	@include xs-screen {
		padding: 40px 0;
		background-image: none;
	}

	@include sm-screen {
		padding: 60px 0;
		background-position: 70%;
	}

	@include md-screen {
		padding: 80px 0;
		background-position: 70%;
	}

	@include lg-screen {
		padding: 100px 0;
		background-position: 70%;
	}

	&__description-block {
		@include description-block;
		@include xs-screen { padding: 40px 0 20px; }
		@include sm-screen { padding: 50px 0 25px; }
	}

	&__title {
		@include title;
		color: $white;

		@include xs-screen {
			top: -11px;
			font-size: px_to_rem(18px);
		}

		@include sm-screen {
			top: -17px;
			font-size: px_to_rem(28px);
		}
	}

	&__description {
		color: $white;
		font-size: px_to_rem(16px);
		font-weight: 300;
		line-height: 24px;

		@include xs-screen {
			font-size: px_to_rem(14px);
			line-height: 22px;
		}
	}
}