.dl-whatwedo {
	padding: 120px 0;
	@include xs-screen { padding: 40px 0; }
	@include sm-screen { padding: 60px 0; }
	@include md-screen { padding: 80px 0; }
	@include lg-screen { padding: 100px 0; }

	&__description-block {
		@include description-block;
		border-color: $dark;
		&::before, &::after { background-color: $dark; }
		@include xs-screen { padding: 70px 0 20px; }
		@include sm-screen { padding: 70px 0 25px; }
		@include md-screen { padding: 80px 0 40px; }
	}

	&__title {
		@include title;
		color: $dark;

		@include xs-screen {
			top: -11px;
			font-size: px_to_rem(18px);
		}

		@include sm-screen {
			top: -17px;
			font-size: px_to_rem(28px);
		}
	}

	&__list { list-style: none;	}

	&__item {
		margin-bottom: 60px;
		&:last-child { margin-bottom: 0; }
		@include xs-screen { margin-bottom: 40px; }
		@include sm-screen { margin-bottom: 50px; }
	}

	&__item-logo {
		margin-bottom: 15px;

		@include xs-screen {
			margin-bottom: 0;
			transform: scale(.7);
		}

		@include sm-screen {
			margin-bottom: 0;
			transform: scale(.8);
		}
	}

	&__item-title {
		margin-bottom: 15px;
		color: $dark;
		font-size: px_to_rem(20px);
		font-weight: 700;
		letter-spacing: 3px;

		@include xs-screen {
			margin-bottom: 10px;
			font-size: px_to_rem(16px);
		}

		@include sm-screen {
			margin-bottom: 5px;
			font-size: px_to_rem(18px);
		}
	}

	&__item-description {
		color: $dark;
		font-size: px_to_rem(16px);
		font-weight: 300;
		line-height: 24px;

		@include xs-screen {
			font-size: px_to_rem(14px);
			line-height: 22px;
		}
	}
}