* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-size: 100%;
	font-family: sans-serif;
}

.container {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
}

.capitalize {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}

.page {
	height: inherit;
	border: 20px solid white;
	background-color: #707070;
}

.page__header {
	margin-bottom: 20px;
	padding: 20px;
	color: #EC8060;
	text-align: center;
	background-color: #808080;
}

.page__header h1 {
	margin-bottom: 10px;
}

.page__list {
	list-style: none;
	color: white;
	font-size: 1.2rem;
	margin-bottom: 20px;
}

li:nth-child(odd) .page__label {
	background-color: #9592BC;
}

.page__label {
	display: block;
	padding: 10px;
	border-top: 3px solid rgba(225, 225, 225, 0);
	border-bottom: 3px solid rgba(225, 225, 225, 0);
	background-color: #817DB2;
}

li .page__label:hover {
	border-color: white;
	background-color: #656280;
	transition: all .3s;
}

li .page__label:active {
	background-color: #EC8060;
}

.check {
	margin-right: 10px;
}

.check:checked ~ span {
	color: #B1B1B1;
	text-decoration: line-through;
}

.page__description {
	color: #B1B1B1;
	font-size: .8rem;
}

.page__description::before {
	content: "(";
	margin-right: 5px;
}

.page__description::after {
	content: ")";
	margin-left: 5px;
}

.page__submit {
	display: block;
	width: 100%;
	padding: 20px;
	border: none;
	font-size: 1.2rem;
	color: #EC8060;
	border: 3px solid rgba(225, 225, 225, 0);
	background-color: #808080;
}

.page__submit:hover {
	color: white;
	border-color: white;
	background-color: #EC8060;
	transition: all .5s;
}