* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {min-height: 100%}
body {font: 100% sans-serif}

.t-upper {text-transform: uppercase}
.capitalize {text-transform: capitalize}
.italic {font-style: italic}

.flex-container {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	background-color: $page-background;
}

.paper {
	position: relative;
	display: inherit;
	flex-flow: inherit;
	flex: 0 1 751px;
	width: 1060px;
	max-width: 100%;
	padding: 200px 110px 34px 121px;
	justify-content: space-around;
	align-items: flex-start;
	text-align: justify;
	background-color: $white;
	box-shadow: 0 0 20px 5px rgba(0,0,0,.5);
	z-index: 1;
	&__published {
		font: 300 20px proxima-nova;
		letter-spacing: 5px;
		color: $paper-published;
	}
	&__header {
		display: inherit;
		flex-flow: inherit;
		align-items: flex-start;
	}
	&__header-title {
		font: 600 77px Futura;
		color: $paper-header-title;
	}
	&__header-subtitle {
		font: italic 30px Georgia;
		letter-spacing: .8px;
		color: $paper-header-description;
	}
	&__paragraph {
		font: 26px Georgia;
		word-spacing: 3px;
		color: $black;
	}
}
.paper::before {
	content: "";
	position: absolute;
	top: 0;
	left: 67px;
	display: block;
	height: 100%;
	width: 2px;
	background-color: $paper-border;
}

.redactor-main {
	position: absolute;
	top: 3rem; right: 5rem;
	padding: 48px 0 50px 60px;
	background-color: $redactor-main-background;
	z-index: 2;
	&__wrapper {
		display: flex;
		flex-flow: column nowrap;
		width: 756px;
		max-width: 100%;
		align-items: flex-start;
	}
	&__overhead {
		font: 500 15px proxima-nova;
		letter-spacing: 5px;
		color: $redactor-main-overhead;
	}
	&__title {
		font: 500 48px "Playfair Display";
		margin-bottom: 10px;
		color: $redactor-main-title;
	}
	&__title::after {
		content: "";
		display: inline-block;
		height: 43px; width: 2px;
		margin-left: 5px;
		background-color: $redactor-main-title-pointer;
	}
}
.redactor-main::after {
	content: "";
	display: block;
	height: 3px; width: 100%;
	background-color: $redactor-main-border;
}

.redactor-secondary {
	position: absolute;
	top: 15rem; right: 5rem;
	padding: 20px 0 20px 40px;
	background-color: $redactor-secondary-background;
	z-index: 2;
	&__list {
		width: 776px;
		max-width: 100%;
		list-style: none;
	}
	&__item {
		display: inline-block;
		margin-right: 20px;
	}
	&__item:last-child {margin-right: 0}
	&__link {
		display: inherit;
		font-size: 0;
}
	&__link i.fas {
		height: 30px; width: 30px;
		font-size: 26px;
		color: $redactor-secondary-icon;
		transition: all .1s ease-in;
	}
	&__link i.fas:hover {color: $redactor-secondary-icon-hover}
}