// Fonts
$base-size: 16px;
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway:400,500,600,800&display=swap');

$mont: Montserrat; // Light: 300; Regular: 400;
$rale: Raleway; // Regular: 400; Medium: 500; Semi-Bold: 600; Extra-Bold: 800;

// Colors
$grey: #555;
$light-grey: #8c8c8c;
$extra-light-grey: #fbfaf8;
$dark-grey: #363636;
$extra-dark-grey: #242424;

$brown: #988574;
$extra-light-brown: #fbfaf8;
$light-brown: #c7b299;
$dark-brown: #352f2d;

$blue: #00bff3;
$green: #82b541;

$footer-bg: #191919;
$copyright-bg: #101010;