// Colors
$white: #fff;
$black: #000;

$paper-published: #b4b4b4;
$paper-header-title: #2a2a2a;
$paper-header-description: #8f8f8f;
$redactor-main-overhead: #767676;
$redactor-main-title: #fefefe;
$redactor-secondary-icon: #f9dc94;
$redactor-secondary-icon-hover: #fdfdfd;

$page-background: #464f54;
$redactor-main-background: #181818;
$redactor-secondary-background: #fbc02d;

$paper-border: #e8eced;
$redactor-main-border: #303030;
$redactor-main-title-pointer: #afb1b3;