// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,700&display=swap');

$base-size: 16px;

$main-font: Lato;

// Colors
$white: #fff;
$black: #000;

$font-main-color: #3c3c3c;
$font-dark-grey: #282528;
$font-light-grey: #646464;

$bg-body: #f6f6f6;
$bg-card: #ddd;
$bg-card-hover: #18b5dc;
$bg-card-hover-icons: #5ecbe7;

$title-border: #dddbdb;
$social-hover: #3b5998;